/*--------------------------------------------------------------
# NAV HEADER
--------------------------------------------------------------*/
.nav--header {
    text-transform: uppercase;
}

.nav--header .nav__item {
    margin-right: var(--gutter);
}

.nav--header .nav__link {
    transition: color .3s ease-in-out;
}

.nav--header .nav__link:hover
, .nav--header .nav__link:active
, .nav--header .nav__link:focus {
    color: var(--color-white);
}

.nav--header .nav__link--active {
    color: var(--color-white);
}

/*--------------------------------------------------------------
# WIDGET AREA
--------------------------------------------------------------*/
.widget-area {
    font-size: var(--font-size-8);
}

.widget-area ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.widget-area a {
    color: inherit;
    text-decoration: none;
}

.widget-area a:hover
, .widget-area a:active
, .widget-area a:focus {
    color: var(--color-white);
}

/*--------------------------------------------------------------
# BUTTON
--------------------------------------------------------------*/
.btn {
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-black);
    display: inline-block;
    padding: .2em .5em;
}