/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
.header {
  position: relative;
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: var(--color-white);
}

@media all and (min-width: 768px) {
  .header {
    background-color: transparent;
    background-image: linear-gradient(to bottom, var(--color-white) 50%, transparent 50%);
  }

  .header:before {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid var(--color-1);
    transform: translateY(-1px);
    top: 50%;
  }
}





/* fake header */
@media all and (min-width: 768px) {
  .header--fake[hidden] {
    display: block;
  }

  .header--fake {
    position: absolute;
    width: 100%;
    opacity: 1 !important;
    pointer-events: none;
  }
  
  .header--fake .header__content {
    transform: translateY( 50% );
    border: 1px solid transparent;
  }
  
  .header--fake .branding {
    opacity: 0;
    visibility: none;
  }
}


/* HEADER CONTENT */
.header__content {
  position: relative;
  display: grid;
  grid-gap: 1px;
  margin-bottom: 1px;

  grid-template-columns: repeat(3, 1fr);
  
  grid-template-rows: 1fr 1fr;

  border: 1px solid transparent;
  border-bottom: none;
}

.header__item--empty {
  display: none;
}

/* HEADER ITEM */
.header__item {
  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid var(--color-1);
  border-right: 1px solid var(--color-1);
}

.header__item--branding {
  position: relative;
  text-align: center;
  border-bottom: 1px solid;
  margin-bottom: -1px;
  grid-row: span 2;

  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid var(--color-1);
  border-right: 1px solid var(--color-1);
}

.header__item--branding img {
  padding-bottom: 1px;
}

.header__item--nav {
  grid-row: span 2;
}


@media all and (min-width: 768px) {
  .header__content {
    grid-template-columns: repeat(8, 1fr);
  }

  .header__item--empty {
    display: block;
  }

  .header__item--branding img {
    padding-bottom: initial;
    border-bottom: 1px solid var(--color-1);
  }

  .header__item--branding {
    border: none;
    margin-bottom: initial;
    grid-column: 4 / span 2;
    grid-row: span 2;
  }

  .header__item--nav {
    grid-row: 1;
  }

  .header__item--nav-1 {
    grid-column: 2 / span 2;
  }
  
  .header__item--nav-2 {
    grid-column: 6 / span 2;
  }
}

/* WIDGET HEADER */
.header__widget {
  margin-top: -2px;
  border-top: 1px solid var(--color-1);
}

.header__widgetcontent {
  margin-top: calc(var(--gutter) * .5);
  border-top: 1px solid var(--color-1);
}

@media all and (min-width: 768px) {
  .header__widget .widget-area {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    margin-bottom: calc( var(--gutter) * 2.5 );
  }
}


.widget-area ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.header__widgetcontent ul {
  padding: calc( var(--gutter) * 1 );
  border-bottom: 1px solid var(--color-1);
  grid-column: 2;
}

.header__widgetcontent ul li > * {
  text-align: center;
}

.header__widgetcontent a {
  text-decoration: none;
  color: var(--color-1);
}