/*--------------------------------------------------------------
# NAV
--------------------------------------------------------------*/


/* .nav--header {
    display: flex;
    flex-wrap: wrap;
} */

/*--------------------------------------------------------------
# NAV header
--------------------------------------------------------------*/
/* .nav--header .nav__item {
    margin-left: var(--gutter);
    margin-bottom: var(--gutter);
}

.nav--header .nav__link {
    padding: calc( var(--gutter) * 1) ;
} */

/*--------------------------------------------------------------
# NAV FOOTER
--------------------------------------------------------------*/
/* .nav--footer {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gutter) * -1);
    margin-bottom: calc(var(--gutter) * -1);
}

.nav--footer .nav__item {
    margin-left: var(--gutter);
    margin-bottom: var(--gutter);
} */


.header__item--nav nav {

}

.header__item--nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.header__item--nav .nav__item {

    display: flex;
    align-items: center;
    justify-content: center;
}