/*--------------------------------------------------------------
# NAV HEADER
--------------------------------------------------------------*/
.header__item--nav ul {
    display: grid;
    grid-column-gap: .5px;
    grid-template-columns: 1fr;
}

.header__item--nav .nav__item {
    display: flex;
    align-items: center;
    padding-left: calc(var(--gutter) / 2);
    font-size: var(--font-size-8);
}

.header__item--nav .nav__item:first-child {
    border-top: initial;
    margin-top: initial;
}



@media all and (min-width: 820px) {
    .header__item--nav ul {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    } 
    
    .header__item--nav .nav__item {
        justify-content: center;
        padding-left: initial;
        font-size: var(--font-size-7);

        border-top: initial;
        margin-top: initial;
    }
    
    .header__item--nav-1 .nav__item {
        border-right: .5px solid var(--color-1);
        margin-right: -.5px;
    }

    .header__item--nav-2 .nav__item {
        border-left: .5px solid var(--color-1);
        margin-left: -.5px;
    }
}

/*--------------------------------------------------------------
# NAV WIDGET FOOTER
--------------------------------------------------------------*/
.widget_nav_menu .menu {
    display: flex;
}

.widget_nav_menu .menu li {
    display: block;
    padding-left: calc( var(--gutter) * .5 );
    margin-left: calc( var(--gutter) * .5 );
    border-left: .5px solid var(--color-1);
}

.widget_nav_menu .menu li:first-child {
    padding-left: 0;
    margin-left: 0;
    border-left: none;
}

.widget_nav_menu .menu a {
    display: block;
}