/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.footer {
    background-color: var(--color-black, #000);
    color: var(--color-white, #fff);
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

