/*--------------------------------------------------------------
# BLOCKS CARD
--------------------------------------------------------------*/
.block--card {

}

/* MEDIA */
.block--card  .block__media img {
    border-radius: 1rem;
}

/* CONTENT */
.block--card .block__title {
    font-size: var(--font-size-5);
    font-weight: bold;
}

.block--card .block___more {
    
}

/*--------------------------------------------------------------
# BLOCKS CARD FIRST
--------------------------------------------------------------*/
.block--card-first {
    grid-column: span 3;
}

.block--card-first {
    display: grid;
}

.block--card-first .block__media
, .block--card-first .block__content {
    grid-column: -1 / 1;
    grid-row: -1 / 1;
}

.block--card-first .block__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: var(--gutter);

    max-width: 45ch;
    font-size: var(--font-size-9);
}

.block--card-first .block__datetime {
    background-color: var(--color-white);
    padding: calc(var(--gutter) / 3);
    padding-left: var(--gutter);

    margin-bottom: calc(var(--gutter) / 3);
}

.block--card-first .block__header {
    background-color: var(--color-white);
    padding: calc(var(--gutter) / 3);
    padding-left: var(--gutter);

    margin-bottom: calc(var(--gutter) / 3);

    width: 100%;
}

.block--card-first .block__title {
    font-size: var(--font-size-5);
    font-weight: bold;
}

.block--card-first .block__description {
    background-color: var(--color-white);
    padding: calc(var(--gutter) / 3);
    padding-left: var(--gutter);
}


.grid--auto {
    display: grid;
    grid-gap: calc(var(--gutter) * 2);
    grid-template-columns: repeat(3, 1fr);
}

/*--------------------------------------------------------------
# BLOCKS CARD REST
--------------------------------------------------------------*/
.block--card-rest {

}

.block--card-rest .block__datetime {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: calc(var(--gutter) / 2);
}

.block--card-rest .block__date {
    border-top: 1px solid var(--color-black);
    padding-top: calc(var(--gutter) / 2);
    padding-right: calc(var(--gutter) * 1.5);
}

.block--card-rest .block__media {
    margin-bottom: calc(var(--gutter) / 3 * 2);
}

.block--card-rest .block__header {
    margin-bottom: calc(var(--gutter) / 3);
}

.block--card-rest .block__additionalinfo {
    margin-bottom: calc(var(--gutter) / 3);
}

.block--card-rest .block__description {
    margin-bottom: calc(var(--gutter) / 3);
}





.block--card-single .block__description {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--gutter) * 3);

    padding: var(--gutter);
    
}

.block__description-sidebar {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: var(--gutter);
    grid-row-gap: calc(var(--gutter) / 3);
    max-width: 40ch;
}
