/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.footer {
    margin-top: calc(var(--gutter) * 3);
}

.footer__content {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: calc(var(--gutter) * 1) calc(var(--gutter) / 3);
    padding-bottom: calc(var(--gutter) / 3);

    border-radius: 1rem 1rem 0 0;
}

.footer__contentgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--gutter);
}

.footer .widgettitle {
    font-size: var(--font-size-8);
    text-transform: uppercase;
}

.footer .widget-area {
    position: relative;
    border: .5px solid var(--color-2);
    padding: calc(var(--gutter) / 3);
    /* padding-right: 0; */
}

.footer .widget_media_image {
    float: right;
    margin-top: -10%;
    padding: 0 .5em;
    background-color: var(--color-black);
}

.footer .widget_media_image img {
    max-width: 6rem !important;

}

.footer .footer_2 .widget_media_image {
    margin-top: -16.5%;
}


.footer .textwidget {
    padding-right: calc(var(--gutter) / 1.5);
}