/*--------------------------------------------------------------
# BLOCKS
--------------------------------------------------------------*/
.block__content > *:not(:first-child) {
    margin-top: calc(var(--gutter) * 2);
}

/* media object */
.block.is-style-mediaobject {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}

.block.is-style-mediaobject-reverse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    direction: rtl
}

/* media object reverse */
.block.is-style-mediaobject-reverse > * {
    direction: ltr;
}


/* hero */
.block.is-style-hero {
    position: relative;
    display: grid;
    min-height: 100vh;
}

.block.is-style-hero > * {
    grid-column: -1 / 1; 
    grid-row: -1 / 1;
}

.block.is-style-hero .block__media {
    position: relative;
}

.block.is-style-hero .block__media > figure  img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block.is-style-hero .block__media:after {
    content: '';
    background-color: rgba(0,0,0, .5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.block.is-style-hero .block__content {
    position: relative;
    padding: calc(var(--gutter) * 5);
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    max-width: calc( var(--max-width) + var(--gutter) * 5 );
    width: 100%;
<<<<<<< HEAD
}


/* CARD */
.block--card {
    border: 1px solid rgba(0,0,0, .25);
    box-shadow: 0 0 1rem rgba(0,0,0, .5);
}

.block--card .block__content {
    padding: var(--gutter);
}

/* HERO */
.block--hero {
    display: grid;
   
}

.block--hero .block__media
, .block--hero .block__content 
{
    grid-column: -1 / 1;
    grid-row: -1 / 1;
}

.block--hero .block__media {
    position: relative;
    overflow: hidden;
}

.block--hero .block__media img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block--hero .block__content {
    position: relative;
    display: grid;
    place-items: center;
    padding: var(--gutter);
    color: var(--color-white);
    font-weight: bold;
    padding: calc( var(--gutter) * 6);
    min-height: 75vh;
    text-align: center;
    background-color: var(--color-black);
}

.block--hero  .block__down {
    position: absolute;
    bottom: var(--gutter);
    color: inherit;
    text-decoration: none;
}
=======
}
>>>>>>> 6c79705faa91dfba707faea0ca13ee37a00671d2
