/* BLOCK MEDIA TEXT */
.wp-block-media-text {
    display: grid;
    grid-gap: calc( var(--gutter) / 3);
}

.wp-block-media-text__media {
    background-image: none !important;
}

.wp-block-media-text__media img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.wp-block-media-text__content {
    background-color: var(--color-3);
    padding: calc(var(--gutter) * 1)  calc(var(--gutter) / 3 * 2);

    display: grid;
    place-content: center;
    grid-gap: calc(var(--gutter) * 1 );
}

@media all and (min-width: 768px) {
    .wp-block-media-text {
        grid-template-columns: 3fr 3fr;
        

        direction: rtl;
        grid-auto-flow:dense;
    }

    .wp-block-media-text > * {
        direction: ltr;
    }

    .wp-block-media-text__content {
        padding: calc(var(--gutter) * 2);
    }
}



/* BUTTONS */
.wp-block-buttons {
    display: flex;
    flex-wrap: wrap;
}

.wp-block-buttons.aligncenter {
    justify-content: center;
}

.wp-block-button {
    margin: calc(var(--gutter) * .25);
    
}

.wp-block-button__link {
    text-decoration: none;
    color: inherit;
    padding: calc( var(--gutter) * .5 ) calc( var(--gutter) * 1.25 ) ;
    border: .5px solid;
    display: inline-block;
    font-weight: bold;

    transition: all .3s ease-in-out;
}

.wp-block-button__link:hover
, .wp-block-button__link:active
, .wp-block-button__link:focus 
{
    background-color: var(--color-1);
    color: var(--color-white);
    border-color: var(--color-1);
}



/* GROUP */
.wp-block-group {
    margin-top: var(--gutter);
    margin-bottom: calc(var(--gutter) * 3);

    border: .5px solid var(--color-1);
    margin-right: -.5px;
    padding: .5px;
}

.wp-block-group__inner-container > h1
, .wp-block-group__inner-container > h2
, .wp-block-group__inner-container > h3
, .wp-block-group__inner-container > h4
, .wp-block-group__inner-container > h5
, .wp-block-group__inner-container > h6 {
    padding-top: calc( var(--gutter) * .5 );
    padding-bottom: calc( var(--gutter) * .5 );
}

.wp-block-group__inner-container > *:not(:first-child) {
    border-top: .5px solid var(--color-1);
}



/* POSTS */
.wp-block-latest-posts__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wp-block-latest-posts__list a {
    font-size: var(--font-size-5);
    text-decoration: none;
    color: inherit;
}

.wp-block-latest-posts__list img {
    max-width: none;
    width: 100%;
    height: auto;
}

.wp-block-group .wp-block-latest-posts__list {
    display: grid;
    grid-row-gap: .5px;
    border-top: .5px solid var(--color-1);
}

.wp-block-latest-posts__list > li:not(:first-child) {
    border-top: .5px solid var(--color-1);
    margin-top: -.5px;
}

@media all and (min-width: 768px) { 
    .wp-block-group .wp-block-latest-posts__list {
        grid-row-gap: initial;
        grid-column-gap: .5px;

        margin-right: -.5px;
        margin-left: -.5px;
    }

    .wp-block-latest-posts__list > li:not(:first-child) {
        border-top: initial;
        margin-top: initial;

        border-left: .5px solid var(--color-1);
        margin-left: -.5px;
    }
}


/* POSTS GRID VIEW */
.wp-block-latest-posts__list.is-grid > li {
    display: grid;
    align-content: start;
    grid-gap: calc( var(--gutter) / 3 * 2);

    padding: calc( var(--gutter) * .75);
    padding-bottom: calc( var(--gutter) * 1.5);

    text-align: center;
}

.wp-block-latest-posts__featured-image {
    margin: calc( var(--gutter) * -.5 );
    margin-bottom: initial;
}

@media all and (min-width: 768px) {
    .wp-block-latest-posts__list.is-grid > li {
        grid-gap: calc( var(--gutter) * 1.5);
    }

    .columns-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .columns-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}



/* POSTS LIST VIEW */
.wp-block-latest-posts__list:not(.is-grid) {
    background-color: var(--color-3);
}

.wp-block-latest-posts__list:not(.is-grid) > li {
    padding: calc( var(--gutter) * 2 );
    text-align: center;
}

@media all and (min-width: 768px) { 
    .wp-block-latest-posts__list:not(.is-grid) {
        grid-template-columns: repeat(2, 1fr);

        margin: initial;
    }

    .wp-block-latest-posts__list:not(.is-grid) > li {
        padding: calc( var(--gutter) * 3 );
    }
}