/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
.header {
  position: relative;
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: var(--color-white);
}

.header:before {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: .5px solid var(--color-1);
  height: .5px;
  overflow: hidden;
  transform: translateY(-50%);
  top: 50%;
}

@media all and (min-width: 768px) {
  .header {
    background-color: initial;
    background-image: linear-gradient(to bottom, var(--color-white) 50%, rgba(0,0,0, 0) 50%);
  }
}



/* HEADER CONTENT */
.header__content {
  position: relative;

  display: grid;
  grid-column-gap: .5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;

  padding-left: calc(var(--gutter) / 3);
  padding-right: calc(var(--gutter) / 3);

  border-bottom: .5px solid var(--color-1);
}

@media all and (min-width: 768px) {
  .header__content {
    border: initial;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media all and (min-width: 1280px) {
  .header__content {
    padding: .5px;
    grid-template-columns: repeat(8, 1fr);
  }
}



/* HEADER ITEM */
.header__item--empty {
  display: none;
}

.header__item--branding {
  position: relative;
  grid-row: span 2;

  text-align: center;

  border-left: .5px solid var(--color-1);
  border-right: .5px solid var(--color-1);

  background-color: var(--color-white);
}

.header__item--nav {
  grid-row: span 2;
}

@media all and (min-width: 768px) {
  .header__item--branding {
    border: initial;
    background-color: initial;

    grid-column: span 2;
    grid-row: span 2;

    display: grid;
    place-content: center;
  }

  .header__item--branding .branding {
    padding: calc( var(--gutter) * .5)  calc( var(--gutter) * 1);
    background-color: var(--color-white);
  }

  .header__item--nav {
    grid-row: 1;
  }

  .header__item--nav-1 {
    grid-column: 1 / span 2;
  }
  
  .header__item--nav-2 {
    grid-column: 5 / span 2;
  }
}

@media all and (min-width: 1280px) {
  .header__item--empty {
    display: block;
  }

  .header__item--left {
    border-left: .5px solid var(--color-1);
    margin-left: -.5px;
  }
  
  .header__item--right {
    border-right: .5px solid var(--color-1);
    margin-right: -.5px;
  }

  .header__item--nav-1 {
    grid-column: 2 / span 2;
  }
  
  .header__item--branding {
    grid-column: 4 / span 2;
    grid-row: span 2;
  }

  .header__item--nav-2 {
    grid-column: 6 / span 2;
  }
}



/* fake header */
@media all and (min-width: 768px) {
  .header--fake[hidden] {
    display: block;
  }

  .header--fake {
    position: absolute;
    width: 100%;
    opacity: 1 !important;
    pointer-events: none;

    border-bottom: .5px solid var(--color-1);
  }
  
  .header--fake .header__content {
    transform: translateY( 50% );
  }

  .header--fake .header__item--empty-left {
    border-right: .5px solid var(--color-1);
    margin-right: -.5px;
  }

  .header--fake .header__item--empty-right {
    border-left: .5px solid var(--color-1);    
    margin-left: -.5px;
  }

  .header--fake .header__item--empty-2 {
    display: block;
  }

  .header--fake .header__item--branding {
    border: initial;
  }

  .header--fake .branding {
    opacity: 0;
    visibility: none;
  }
}

@media all and (min-width: 1280px) {
  .header--fake .header__item--empty-left {
    border-left: .5px solid var(--color-1);
    margin-left: -.5px;

    border-right: initial;
    margin-right: initial;

  }

  .header--fake .header__item--empty-right {
    border-right: .5px solid var(--color-1);
    margin-right: -.5px;

    border-left: initial;
    margin-left: initial;
  }

  .header--fake .header__item--empty-left-last-child,
  .header--fake .header__item--empty-right-first-child {
    border-left: .5px solid var(--color-1);
    margin-left: -.5px;

    border-right: .5px solid var(--color-1);
    margin-right: -.5px;
  }
}


/* HEADER WIDGET */
.header__widgetcontent {
  margin-top: calc(var(--gutter) / 2);
  border-top: .5px solid var(--color-1);
}

@media all and (min-width: 1280px) {
  .header__widget .widget-area {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    margin-bottom: calc( var(--gutter) * 2.5 );
  }
}



/* HEADER WIDGET CONTENT */
.header__widgetcontent {
  margin-bottom: calc( var(--gutter) / 3);
}

.widget-area ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;

  font-size: var(--font-size-8);
}

.header__widgetcontent ul {
  padding: calc( var(--gutter) / 3 * 2 );
  border-bottom: .5px solid var(--color-1);
  grid-column: 2;
}

.header__widgetcontent ul li > * {
  text-align: center;
}

.header__widgetcontent a {
  text-decoration: none;
  color: var(--color-1);
}

.header__widgetcontent .textwidget > * {
  margin-left: calc(var(--gutter) / 9);
  margin-right: calc(var(--gutter) / 9);
}

@media all and (min-width: 768px) {
  .header__widgetcontent {
    margin-bottom: calc( var(--gutter) * 3);
  }

  .header__widgetcontent .widget-area {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .header__widgetcontent ul {
    grid-column: 3 / span 2;
  }

}

@media all and (min-width: 1280px) {
  .header__widgetcontent .widget-area { 
    grid-template-columns: repeat(8, 1fr);
  }

  .header__widgetcontent ul {
    grid-column: 4 / span 2;
  }
}