.body {
    color: var(--color-1);
}

a {
    color: var(--color-1);
}

.widgettitle {
    font-size: var(--font-size-4);
}



/* MAIN */
.main--has-sidebar {
    padding-left: calc(var(--gutter) / 3);
    padding-right: calc(var(--gutter) / 3);
}

@media all and (min-width: 1280px) {
    .main--has-sidebar {
        display: grid;
        grid-column-gap: var(--gap);
        grid-template-columns: repeat(8, 1fr);
    }

    .main--has-sidebar .main {
        grid-column: span 6;
    }

    .main--has-sidebar .aside {
        grid-column: 8;
    }
}



/* SIDEBAR / ASIDE */
.aside {
    margin-bottom: var(--gutter);
}

.aside .widgettitle {
    font-size: var(--font-size-8);
    text-align: center;
    padding: calc(var(--gutter) / 3);
    border-bottom: var(--gap) solid var(--color-1);
}

.aside .widget-area {
    border: var(--gap) solid var(--color-1);
    margin: calc( var(--gap) * -1) ;
}

.aside .widget-area .gallery br {
    display: none;
}

.aside .widget-area .gallery {
    padding: calc(var(--gutter) / 3);
    padding-top: 0;

    display: flex;
}

@media all and (min-width: 1280px) {
    .aside .widget-area .gallery {
        display: grid;
    }
}