/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.footer {
    background-color: var(--color-3);
    color: var(--color-black);
    font-size: var(--font-size-9);
}

.footer a {
    color: var(--color-1);
    text-decoration: none;
}

.footer__content--top {
    border-top: 1px solid var(--color-1);
    border-bottom: 1px solid var(--color-1);
}

@media all and (min-width: 768px) {
    .footer__contentgrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.footer__contentgrid {
    grid-gap: 1px;
}

.footer__item--top {
    border: 1px solid var(--color-1);
    margin: -1px;
}

.footer_1 .widget-area ul {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: calc( var(--gutter) * 1 );

    padding: calc(var(--gutter) * 1);
}

.footer_2 .widget-area ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--gutter);

    padding: calc(var(--gutter) * 1);
}

.footer_3 .widget-area ul {
    padding: calc( var(--gutter) /3 );
}

.footer_4 > .widget-area > ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: calc(var(--gutter) * 1);
}

.footer__item--top .widget-area {
    height: 100%;
}