/*--------------------------------------------------------------
# FLOAT
--------------------------------------------------------------*/
.alignleft {
  float: left;
  margin-right: var(--gutter);
  margin-bottom: var(--gutter);
}

.alignright {
  float: right;
  margin-left: var(--gutter);
  margin-bottom: var(--gutter);
}

.aligncenter {
  clear: both;
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/*--------------------------------------------------------------
# TEXT ALIGN
--------------------------------------------------------------*/
.has-text-align-left {
  text-align: left;
}

.has-text-align-center {
  text-align: center;
}

.has-text-align-right {
  text-align: right;
}

.has-text-align-justify {
  text-align: justify;
}

/*--------------------------------------------------------------
# CLEARFIX
--------------------------------------------------------------*/
.clearfix {
  display: flow-root;
}


/*--------------------------------------------------------------
# Classes needed to pass Wordpress Theme Checker
--------------------------------------------------------------*/
.wp-caption {
}
.wp-caption-text {
}
.sticky {
}
.gallery-caption {
}
.bypostauthor {
}
