/*--------------------------------------------------------------
# PADDING
--------------------------------------------------------------*/
[class*=--quarter] {
    --box-model-size: calc( 1/4 ); 
}

[class*=--thirds] {
    --box-model-size: calc( 1/3 ); 
}

[class*=--half] {
    --box-model-size: calc( 1/2 ); 
}

[class*=--two-thirds] {
    --box-model-size: calc( 2/3 ); 
}

[class*=--and-third] {
    --box-model-size: calc( 1 + 1/3 ); 
}

[class*=--and-half] {
    --box-model-size: calc( 1 + 1/2 ); 
}

[class*=--double] {
    --box-model-size: calc( 2 ); 
    border: solid red;
}

[class*=--tripple] {
    --box-model-size: calc( 3 ); 
    border: solid green;
}

[class*=--quadruple] {
    --box-model-size: calc( 4 ); 
}

/*--------------------------------------------------------------
# PADDING
--------------------------------------------------------------*/
[class|=padding-all] {
    padding: calc( var(--gutter) * var(--box-model-size) );
}

[class|=padding-left] {
    padding-left: calc( var(--gutter) * var(--box-model-size) );
}

[class|=padding-top] {
    padding-top: calc( var(--gutter) * var(--box-model-size) );
}

[class|=padding-right] {
    padding-right: calc( var(--gutter) * var(--box-model-size) );
}

[class|=padding-bottom] {
    padding-bottom: calc( var(--gutter) * var(--box-model-size) );
}

