/*--------------------------------------------------------------
# PADDING
--------------------------------------------------------------*/
.padding[class*=--quarter] {
    --box-model-size: calc( 1/4 ); 
}

.padding[class*=--thirds] {
    --box-model-size: calc( 1/3 ); 
}

.padding[class*=--half] {
    --box-model-size: calc( 1/2 ); 
}

.padding[class*=--two-thirds] {
    --box-model-size: calc( 2/3 ); 
}

.padding[class*=--and-third] {
    --box-model-size: calc( 1 + 1/3 ); 
}

.padding[class*=--and-half] {
    --box-model-size: calc( 1 + 1/2 ); 
}

.padding[class*=--double] {
    --box-model-size: calc( 2 ); 
}

.padding[class*=--tripple] {
    --box-model-size: calc( 3 ); 
}

.padding[class*=--quadruple] {
    --box-model-size: calc( 4 ); 
}

/*--------------------------------------------------------------
# PADDING
--------------------------------------------------------------*/
.padding[class*=-all] {
    padding: calc( var(--gutter) * var(--box-model-size) );
}

.padding[class*=-left] {
    padding-left: calc( var(--gutter) * var(--box-model-size) );
    background-color: green;
}

.padding[class*=-top] {
    padding-top: calc( var(--gutter) * var(--box-model-size) );
}

.padding[class*=-right] {
    padding-right: calc( var(--gutter) * var(--box-model-size) );
}

.padding[class*=-bottom] {
    padding-bottom: calc( var(--gutter) * var(--box-model-size) );
}

