* {
    box-sizing: border-box;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;

    scroll-behavior: smooth;
    overflow-wrap: break-word;
    text-rendering: auto;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: inherit;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    display: block;
    text-decoration: inherit;
    font-style: inherit;
    font-weight: inherit;
    color: inherit;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

textarea {
	width: 100%;
}


ul, ol, dl, p {
    margin: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

dt {
	font-weight: bold;
}


figure {
    padding: 0;
    margin: 0;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
    /* Adhere to container width. */
    vertical-align: bottom;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}