/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
.header {
}

/*--------------------------------------------------------------
# BRANDING - LOGO
    DEFAULT SETTINGS FOR EVERY PROJECT
--------------------------------------------------------------*/
.custom-logo-link {
    display: block;
}

.site-title {
    font-size: var(--font-size-1);
}

.site-title a {
    color: inherit;
    text-decoration: none;
}