/*--------------------------------------------------------------
# WORDPRESS DEFAULT BREAK POINTS

@media (min-width: 480px) {}
@media (min-width: 600px) {}
@media (min-width: 782px) {}
@media (min-width: 960px) {}
@media (min-width: 1280px) {}
@media (min-width: 1440px) {}
--------------------------------------------------------------*/

.post-thumbnail,
.entry-content .wp-audio-shortcode,
.entry-content
  > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
*[class*="inner-container"]
  > *:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
.default-max-width,
.aligncontent {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width-3);
}

.widget-area,
.pagination,
.comments-pagination,
.post-navigation,
.site-footer,
.site-header,
.alignwide,
.wide-max-width {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width-2);
}

.alignfull,
.full-max-width {
  max-width: var(--max-width-1);
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# VERTICAL SPACING IN GUTENBERG
--------------------------------------------------------------*/
.entry-content > *,
[class*="inner-container"] > *,
.wp-block-template-part > * {
  margin-top: calc(1 * var(--gutter));
  margin-bottom: calc(1 * var(--gutter));

  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.entry-content > *:first-child,
[class*="inner-container"] > *:first-child,
.wp-block-template-part > *:first-child {
  margin-top: 0;
}

.entry-content > *:last-child,
[class*="inner-container"] > *:last-child,
.wp-block-template-part > *:last-child {
  margin-bottom: 0;
}


.alignfull {
  padding-left: initial;
  padding-right: initial;
}

/*--------------------------------------------------------------
# TESTING CUSTOM GUTENBERG STYLES
--------------------------------------------------------------*/
.wp-block-group.has-background {
  padding-left: initial;
  padding-right: initial;
}

.entry-content > ul,
.entry-content > ol,
.entry-content > dl {
  padding-left: 3em;
}

.wp-block-quote {
  border-left: none;
  position: relative;
  padding-left: 3em;
}

.wp-block-quote::before {
  content: '';
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  left: var(--gutter);
  height: 100%;
  background-color: var(--color-1);
}


.wp-block-group.has-background {
  padding: calc(var(--gutter) / 3 * 2) var(--gutter);
  margin-top: 0;
  margin-bottom: 0;
}


/*
  I actually don't like floating stuff
*/
.alignleft {
  float: left;
  margin-right: var(--gutter);
  margin-left: calc(50vw - var(--max-width-3) / 2);
}

.alignright {
  float: right;
  margin-left: var(--gutter);
  margin-right: calc(50vw - var(--max-width-3) / 2);
}