/*--------------------------------------------------------------
# WORDPRESS DEFAULT BREAK POINTS

@media (min-width: 480px) {}
@media (min-width: 600px) {}
@media (min-width: 782px) {}
@media (min-width: 960px) {}
@media (min-width: 1280px) {}
@media (min-width: 1440px) {}
--------------------------------------------------------------*/

.post-thumbnail, 
.entry-content 
.wp-audio-shortcode, 
.entry-content>*:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce), 
*[class*=inner-container]>*:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce), 
.default-max-width {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width-3);
}

.widget-area, 
.pagination, 
.comments-pagination, 
.post-navigation, 
.site-footer, 
.site-header, 
.alignwide, 
.wide-max-width {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width-2);
}

.alignfull, 
.full-max-width {
    max-width: var(--max-width-1);
    margin-left: auto;
    margin-right: auto;
}



/*--------------------------------------------------------------
# VERTICAL SPACING IN GUTENBERG
--------------------------------------------------------------*/

/* GROUP VERTICAL SPACING */
.wp-block-group .wp-block-group__inner-container > * {
    margin-top: var(--gutter);
}

.wp-block-group .wp-block-group__inner-container > *:first-child {
    margin-top: 0;
}

/* CONTENT VERTICAL SPACING */
.site-main > article > *, 
.site-main > .not-found > *, 
.entry-content > *, 
[class*=inner-container] > *, 
.wp-block-template-part > * {
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
}

.entry-content > *.alignleft, 
.entry-content > *.alignright, 
.entry-content > *.alignleft:first-child + *, 
.entry-content > *.alignright:first-child + *, 
.entry-content > *.alignfull.has-background {
    margin-top: 0;
}

.entry-content > *:last-child, 
.entry-content > *.alignfull.has-background {
    margin-bottom: 0;
}