/*------------------------------------*\
    FLUID FONT
    https://websemantics.uk/tools/responsive-font-calculator/
\*------------------------------------*/

:root {
  --fontsize-min: 1.6;
  --fontsize-max: 3.2;
  --fontsize-minwidth: 100;
  --fontsize-maxwidth: 200;

  --fontsize-min-unit: calc(var(--fontsize-min) * 1rem);
  --fontsize-max-unit: calc(var(--fontsize-max) * 1rem);

  --fontsize-fontdiff: calc(var(--fontsize-max) - var(--fontsize-min));
  --fontsize-widthdiff: calc(
    var(--fontsize-maxwidth) - var(--fontsize-minwidth)
  );

  --fontsize-preferred: calc(
    var(--fontsize-min-unit) +
      (
        var(--fontsize-fontdiff) * (100vw - var(--fontsize-minwidth) * 1rem) /
          var(--fontsize-widthdiff)
      )
  );

  --font-size-7: clamp(
    var(--fontsize-min-unit),
    var(--fontsize-preferred),
    var(--fontsize-max-unit)
  );
}