/*--------------------------------------------------------------
# LAYOUT
--------------------------------------------------------------*/
:root {
    --gutter: 2.4rem;
    --gutter-description: var(--font-size);

    --max-width: 80rem;
    --max-width-2: 70rem;
    --max-width-3: 60rem;

    --gap: 1px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  :root {
    --gap: 2px;
  }
}

/*--------------------------------------------------------------
# COLORS
--------------------------------------------------------------*/
:root {
    --color-white: #fff;
    --color-black: #101213;

    --color-1: #0cb4ce;
    --color-2: #444;
    --color-3: #1595a9;

    --color-4: #fff;
    --color-5: #fff;
}

/*--------------------------------------------------------------
# FONT
--------------------------------------------------------------*/
:root {
    /* Font Family */
    --font-family: 'Hind', sans-serif;
    --font-family-2: 'Hind', sans-serif;

    /* Modular Scale */
    --font-size: 1.2rem;
    --font-size-ratio: 1.125;
    --line-height: 1.25;

    /* Line Height */
    --line-height-0: var(--line-height);
    --line-height-1: var(--line-height);
    --line-height-2: var(--line-height);
    --line-height-3: var(--line-height);
    --line-height-4: var(--line-height);
    --line-height-5: var(--line-height);
    --line-height-6: var(--line-height);
    --line-height-7: var(--line-height);
}

@media (min-width:64em) {
  :root {
    --font-size-ratio: 1.125;
  }
}

/*--------------------------------------------------------------
# ANIMATION
--------------------------------------------------------------*/
:root {
    --transition-time: .3s;
    --transition-style : ease-in-out;
}