* {
    box-sizing: border-box;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;

    scroll-behavior: smooth;
    overflow-wrap: break-word;
    text-rendering: auto;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base, 1.8rem);
    line-height: var(--line-height-base);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: inherit;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    display: block;
    text-decoration: inherit;
    font-style: inherit;
    font-weight: inherit;
    color: inherit;
}

ul, ol, dl, p {
    margin: 0;
}


figure {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}